@font-face {
    font-family: 'neonregular';
    src: url('../fonts/neon.woff2') format('woff2'),
         url('../fonts/neon.woff') format('woff'),
         url('../fonts/neon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* { /* Reset simples */
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #424242;
}

html, body {
    /* Faz o viewport width não incluir a scrollbar */
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    /* -------------------------------------------- */
    font-family: 'Open Sans', sans-serif;
    font-size: calc(8pt + 1vw);
    color: #424242;
    }

.top-menu {
    display: block;
    height: 10vh;
    background-color: #dcdcdc;
}

h1 {
    font-family: 'neonregular', 'Warnes', Arial, cursive;
    font-weight: normal;
    text-align: center;
    font-size: calc(18pt + 2vw);
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #1EB220, 0 0 40px #1EB220, 0 0 50px #1EB220, 0 0 60px #1EB220, 0 0 70px #1EB220, 0 0 80px #1EB220;
}

.queimado {
    color: #000000;
    font-weight: bolder;
    text-shadow: none;
}

h2 {
    font-family: 'Homemade Apple', cursive;
    font-weight: bolder; 
    text-align: center;
    font-size: calc(12pt + 1.2vw);
    color: #ffffff;
    animation: h2 .5s ease-in-out infinite alternate;
}

@keyframes h2 {
    from {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #1E92B2, 0 0 30px #1E92B2, 0 0 40px #1E92B2, 0 0 50px #1E92B2, 0 0 60px #1E92B2, 0 0 70px #1E92B2, 0 0 80px #1E92B2;
    }
    to {
        text-shadow: 0 0 20px #ffffff, 0 0 30px #1E92B2, 0 0 40px #1E92B2, 0 0 50px #1E92B2, 0 0 60px #1E92B2, 0 0 70px #1E92B2, 0 0 80px #1E92B2, 0 0 90px #1E92B2;
    }
}

#bg-video {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
}

.cabecalho {
    height: 45vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
}

.titulo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.texto {
    height: 45vh;
    width: 100vw;
    margin: auto;
    background-color:#dcdcdc;
    }

.ola {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 80vw;
    color: #424242;
    text-indent: 2em;
    text-align: justify;
}

#sites {
    background-color: #dcdcdc;
    padding: 2em 0 2em 0;
}

.justifica {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.justifica::after{ /* Mantém os elementos inline-block acima justificados mas cria uma barra de 1.4em */
    content: '';
    display: inline-block;
    width: 100%;
}

h3 {
    display: inline-block;
    padding: 1em 0 1em 0;
    color: #b21e57;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: calc(18pt + 2vw);
    clear: both;
    }

.saturno-esq {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    }
    
.saturno-dir {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    transform: scaleX(-1);
    }

.quadro-links {
    position: relative;
    top: -1.4em; /* Compensa a barra criada por .justifica::after */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    }

.quadro-links a {
    display: inline-block;
    width: 20vw;
    height: 20vw;
    line-height: 20vw;
    text-align: center;
    text-decoration: none;
}

.quadro-links a:hover {
    background-color: rgba(30, 178, 32, .5);
    border: 1px solid #1E92B2;
}

footer {
    width: 100vw;
    border-top: 1vh ridge #1EB220;
    padding: 3vw 0 3vw 0;
    background-color: rgb(33, 33, 33);
    text-align: center;
    clear: both;
}

.credito {
    margin: auto;
    line-height: 20pt;
    height: 20pt;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(4pt + 1vw);
    color: #424242;
    background-color: #dcdcdc;
}