* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    html {
        font-size: min(max(16px, 4vw), 22px);
      }
}

body {
    background-image: url('../img/repeated-square-dark.png');
    background-repeat: repeat;
    overflow: visible;
}

header {
    width: 100vw;
    margin: auto;
    padding: 2em 0 2em 0;
    background: linear-gradient(to left, rgba(210, 210, 210, 0.1), rgba(0, 0, 0,0), rgba(210, 210, 210, 0.1));
    text-align: center;
}

article {
    width: 80vw;
    margin: auto;
    padding: 1em 0 1em 0;
}

article p {
    color: #dcdcdc;
    text-indent: 2.5vw;
    text-align: justify;
    margin-top: 1em;
}

h1 {
    font-family: 'Niconne', cursive;
    color: paleturquoise;
    text-align: center;
    font-size: 4vw;
    clear: both;
}

h2 {
    padding-top: 2em;
}

h2, h3 {
    font-family: 'Quicksand', sans-serif;
    color: #dcdcdc;
    text-align: center;
    font-size: 16pt;
    clear: both;
}

nav {
    width: 80vw;
    margin: 2em auto 0 auto;
    overflow: hidden;
    background-color: darkgreen;
}

.link-menu {
    width: 20vw;
    height: 20vw;
    float: left;
    border-radius: 25px;
    text-align: center;
    line-height: 20vw;
}

.link-menu a {
    color: #dcdcdc;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    text-decoration: none;
    border-radius: 25px;
}

.link-menu:hover {
    background-color: rgb(66, 66, 66);
}

footer {
    width: 100vw;
    margin-top: 2em;
    border-top: 1px ridge rgba(0, 0, 0, .4);
    padding: 3vw 0 3vw 0;
    background-color: rgb(33, 33, 33);
    text-align: center;
    clear: both;
}

.credito {
    margin: auto;
    line-height: 20pt;
    height: 20pt;
    width: 30vw;
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    color: #424242;
    background-color: #dcdcdc;
}