* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../_img/repeated-square-dark.png');
    background-repeat: repeat;
}

header {
    width: 100vw;
    margin: auto;
    padding: 2em;
    background: linear-gradient(to left, rgba(210, 210, 210, 0.1), rgba(0, 0, 0,0), rgba(210, 210, 210, 0.1));
    text-align: center;
}

h1 {
    font-family: 'Niconne', cursive;
    color: paleturquoise;
    text-align: center;
    font-size: 40pt;
}

h2, h3 {
    font-family: 'Quicksand', sans-serif;
    color: #dcdcdc;
    text-align: center;
    font-size: 14pt;
}

nav {
    width: 100vw;
    padding: 2em;
}

.link-menu a {
    width: 30vw;
    height: 30pt;
    line-height: 30pt;
    display: block;
    color: #dcdcdc;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
    margin: auto;
    border-radius: 25px;
}

.link-menu a:hover {
    background-color: rgb(66, 66, 66);
}

footer {
    width: 100vw;
    border-top: 1px ridge rgba(0, 0, 0, .4);
    padding: 3vw 0 3vw 0;
    background-color: rgb(33, 33, 33);
    text-align: center;
}

.credito {
    margin: auto;
    line-height: 20pt;
    height: 20pt;
    width: 30vw;
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #424242;
    background-color: #dcdcdc;
}