* {
    margin: 0;
    border: 0;
    padding: 0;
}

h1 {
    font-family: 'Niconne', cursive;
    text-align: center;
}

h2, h3 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

nav {
    width: 80vw;
    margin: 1em auto;
    padding: 2em;
    background-color: wheat;
    font-family: 'Open Sans', sans-serif;
}