@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Gaegu&display=swap');

@font-face {
    font-family: '';
    src: url('lp/fonts/.woff2') format('woff2'),
         url('lp/fonts/.woff') format('woff'),
         url('lp/fonts/.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* cores */
    --cor1: #F78DA7;
    --cor2: #DFA2DD;
    --cor3: #B2BCFB;
    --cor4: #8ED1FC;
    --cor5: #424242;
    --cor6: #1c1c1c;
    /* tipografias */
    --fonte-opensans: 'Open Sans', sans-serif;
    --fonte-neonregular: 'neonregular', 'Warnes', Arial, cursive;
    --fonte-gaegu: 'Gaegu', cursive;
    --fonte-amaticsc: 'Amatic SC', cursive;
}

* { /* Reset simples */
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #424242;
}

html, body {
    /* Faz o viewport width não incluir a scrollbar */
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    /* -------------------------------------------- */
    font-family: 'Open Sans', sans-serif;
    font-size: calc(8pt + 1vw);
    color: #424242;
    }

#ondas {
        position:fixed;
        top: 0;
        z-index: -1;
        height: auto;
        width: 100%;
    }

    hgroup {
        margin-top: 200px;
        font-family: var(--fonte-amaticsc);
        text-align: center;
        font-size:x-large;
        }
/*
    @media (max-width:600px) {
        hgroup {
            margin-top: 200px;
        }
    }
*/
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: normal;
        letter-spacing: .125em;
    }

    nav {
        margin-top: 50px;
    }

    nav a {
        display: block;
        width: 400px;
        border: 1px solid black;
        margin: auto;
        text-align: center;
    }

    #logo-portaleiros {
        clip-path: url(img/blob.svg);
    }

    #blob1, #blob2, #blob3 {
        display: block;
        margin: auto;
        width: 150px;
    }