@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Gaegu&display=swap');

@font-face {
    font-family: '';
    src: url('lp/fonts/.woff2') format('woff2'),
         url('lp/fonts/.woff') format('woff'),
         url('lp/fonts/.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* cores */
    --cor1: #F78DA7;
    --cor2: #DFA2DD;
    --cor3: #B2BCFB;
    --cor4: #8ED1FC;
    --cor5: #424242;
    --cor6: #1c1c1c;
    /* tipografias */
    --fonte-opensans: 'Open Sans', sans-serif;
    --fonte-neonregular: 'neonregular', 'Warnes', Arial, cursive;
    --fonte-gaegu: 'Gaegu', cursive;
    --fonte-amaticsc: 'Amatic SC', cursive;
}

* { /* Reset simples */
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #424242;
}

html, body {
    /* Faz o viewport width não incluir a scrollbar */
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    /* -------------------------------------------- */
    font-family: 'Open Sans', sans-serif;
    font-size: calc(8pt + 1vw);
    color: #424242;
    }

#ondas {
        position:fixed;
        top: 0;
        z-index: -1;
        height: auto;
        width: 100%;
    }

    hgroup {
        margin-top: 200px;
        font-family: var(--fonte-amaticsc);
        text-align: center;
        font-size:x-large;
        }

    @media (max-width:600px) {
        hgroup {
            margin-top: 200px;
        }
    }
    h1 {
        font-weight: bold;
    }

    h2 {
        font-weight: bolder;
        letter-spacing: .125em;
    }

    nav {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        width: 100%;
        margin: auto;
    }

    nav a {
        border: 1px solid black;
        text-align: center;
    }

    figcaption {
        position: relative;
        margin: auto;
        text-align: center;
        font-family: var(--fonte-gaegu);
        font-size: 1.5em;
    }

    .fig-seti {
        margin-top: -20px;
    }

    .fig-coruja {
        margin-top: -30px;
    }

    .fig-js {
        margin-top: -10px;
    }

    .left, .right {
        width: 80%;
        padding: 5px 10px;
      }
      
      .left {
        align-self: flex-start;
      }
      
      .right {
        align-self: flex-end;
      }

    #blob1, #blob2, #blob3 {
        display: block;
        margin: auto;
        width: 180px;
        padding: 10px;
        font-family: var(--fonte-amaticsc);
        font-size: 1em;
    }

    .texto-curvo {
        opacity: 1;
        font-size: .8em;
        font-weight: bolder;
    }

    .texto-gradiente {
        background-image: linear-gradient(to right, #8ED1FC, #F78DA7, #8ED1FC);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    footer {
        height: 100px;
        font-family: var(--fonte-opensans);
        margin: auto;
        text-align: center;
        margin-top: 150px;
        font-size: .8em;
        font-weight:600;
    }

    footer a:hover {
        color: var(--cor1);
        background-color: var(--cor4);
        border-radius: 15px;
        padding: 0 15px;
    }